/.idea
.DS_Store
.env
.env.swp
redis_confs
hosts
hosts.swp
redis-cluster-node.pv-pvc.*.yaml
redis-cluster-node.pv-pvc.*.yaml.swp
redis-cluster-node.deploy.*.yaml
redis-cluster-node.deploy.*.yaml.swp
redis-cluster-node.svc.*.yaml
redis-cluster-node.svc.*.yaml.swp
redis-cluster-create-job.yaml
redis-cluster-create-job.yaml.swp
set-label-redis-cluster-node.sh
set-label-redis-cluster-node.sh.swp
del-label-redis-cluster-node.sh
del-label-redis-cluster-node.sh.swp
docker-compose-deploy/multi-machine/docker-compose.*.yaml
docker-compose-deploy/multi-machine/bitnami-redis-cluster-deploy/docker-compose.*.yaml
docker-compose-deploy/multi-machine/docker-compose.*.yaml.swp
docker-compose-deploy/multi-machine/bitnami-redis-cluster-deploy/docker-compose.*.yaml.swp