/.idea
.DS_Store
.env
.env.swp
redis_confs
hosts
hosts.swp
redis-cluster-node.pv-pvc.*.yaml
redis-cluster-node.pv-pvc.*.yaml.swp
redis-cluster-node.deploy.*.yaml
redis-cluster-node.deploy.*.yaml.swp
redis-cluster-create-job.yaml
redis-cluster-create-job.yaml.swp